In [11]:
import pandas as pd
 # # # # #

In [12]:
df_NASA_data = pd.read_csv("/Users/danielbhuglah/Downloads/PS_2026.01.05_06.10.12.CSV", skiprows=292)

/var/folders/z6/hb5zbv6x4y3216b82yynqb740000gn/T/ipykernel_2783/2127175176.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_NASA_data = pd.read_csv("/Users/danielbhuglah/Downloads/PS_2026.01.05_06.10.12.CSV", skiprows=292)

In [13]:
df_NASA_data.head(10)

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
1,2,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-05-14,2008-01,2014-05-14,2,1,2,0,0,0,0
2,3,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,0,...,2014-07-23,2011-08,2014-07-23,2,1,2,0,0,0,0
3,4,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,2018-04-25,2009-10,2014-05-14,0,1,1,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2018-09-04,2017-03,2018-09-06,0,1,1,0,0,0,0
5,6,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,0,...,2018-04-25,2011-08,2014-07-23,0,1,1,0,0,0,0
6,7,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,0,...,2014-07-23,2011-08,2014-07-23,0,1,1,0,0,0,0
7,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,2023-09-19,2023-08,2023-09-19,0,1,1,0,0,0,0
8,9,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,0,...,2014-05-14,2008-12,2014-05-14,0,1,1,0,0,0,0
9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,...,2023-06-12,2022-09,2023-06-12,0,1,4,1,0,0,0

In [15]:
#df_NASA_data = df_NASA_data[df_NASA_data["pl_rade"].notna() & (df_NASA_data["soltype"] == "Published Confirmed")]
df_NASA_data = df_NASA_data[df_NASA_data["default_flag"] == 1 & (df_NASA_data["soltype"] == "Published Confirmed")]
df_NASA_data

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,rowupdate,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-09-19,2023-08,2023-09-19,2,1,2,0,0,0,0
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2018-09-04,2017-03,2018-09-06,0,1,1,0,0,0,0
7,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,2023-09-19,2023-08,2023-09-19,0,1,1,0,0,0,0
9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,...,2023-06-12,2022-09,2023-06-12,0,1,4,1,0,0,0
17,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,...,2018-09-04,2017-03,2018-09-06,5,1,4,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39192,39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2019-01-28,2011-01,2019-01-31,5,1,10,1,0,0,0
39198,39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2019-01-28,2011-01,2019-01-31,5,1,10,1,0,0,0
39204,39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2019-01-28,2011-01,2019-01-31,5,1,10,1,0,0,0
39208,39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,2022-01-10,2021-12,2022-01-10,0,0,0,0,0,0,0
39211,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,2023-09-19,2023-08,2023-09-19,1,1,1,0,0,0,0

In [16]:
df_NASA_ranges = pd.DataFrame({"lower":[0,0.5,1.0,1.75,3.5,6.0,14.3],\
                               "upper": [0.5,1.0,1.75,3.5,6.0,14.3,9999],\
                               "classification": ["1.Radius below lower bound","2.Rocky planet","3.Super Earth","4.Sub Neptune","5.Neptune","6.Jupiters","7.Radius above upper bound"] \
                              })

In [17]:
intervals = pd.IntervalIndex.from_arrays(df_NASA_ranges["lower"],df_NASA_ranges["upper"],closed="both")

In [18]:
df_NASA_ranges

   lower    upper              classification
0   0.00     0.50  1.Radius below lower bound
1   0.50     1.00              2.Rocky planet
2   1.00     1.75               3.Super Earth
3   1.75     3.50               4.Sub Neptune
4   3.50     6.00                   5.Neptune
5   6.00    14.30                  6.Jupiters
6  14.30  9999.00  7.Radius above upper bound

In [19]:
def classify_exoplanet(radius):
    match = df_NASA_ranges.loc[intervals.contains(radius),"classification"]
    return match.iloc[0] if not match.empty else None

In [20]:
df_NASA_data["Exoplanet_class"] = df_NASA_data["pl_rade"].apply(classify_exoplanet)
df_NASA_data

,rowid,pl_name,hostname,pl_letter,hd_name,hip_name,tic_id,gaia_dr2_id,gaia_dr3_id,default_flag,...,pl_pubdate,releasedate,pl_nnotes,st_nphot,st_nrvc,st_nspec,pl_nespec,pl_ntranspec,pl_ndispec,Exoplanet_class
0,1,11 Com b,11 Com,b,HD 107383,HIP 60202,TIC 72437047,Gaia DR2 3946945413106333696,Gaia DR3 3946945413106333696,1,...,2023-08,2023-09-19,2,1,2,0,0,0,0,None
4,5,11 UMi b,11 UMi,b,HD 136726,HIP 74793,TIC 230061010,Gaia DR2 1696798367260229376,Gaia DR3 1696798367260229376,1,...,2017-03,2018-09-06,0,1,1,0,0,0,0,None
7,8,14 And b,14 And,b,HD 221345,HIP 116076,TIC 333225860,Gaia DR2 1920113512486282240,Gaia DR3 1920113512486282240,1,...,2023-08,2023-09-19,0,1,1,0,0,0,0,None
9,10,14 Her b,14 Her,b,HD 145675,HIP 79248,TIC 219483057,Gaia DR2 1385293808145621504,Gaia DR3 1385293808145621504,1,...,2022-09,2023-06-12,0,1,4,1,0,0,0,None
17,18,16 Cyg B b,16 Cyg B,b,HD 186427,HIP 96901,TIC 27533327,Gaia DR2 2135550755683407232,Gaia DR3 2135550755683407232,1,...,2017-03,2018-09-06,5,1,4,3,0,0,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39192,39193,ups And b,ups And,b,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2011-01,2019-01-31,5,1,10,1,0,0,0,None
39198,39199,ups And c,ups And,c,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2011-01,2019-01-31,5,1,10,1,0,0,0,None
39204,39205,ups And d,ups And,d,HD 9826,HIP 7513,TIC 189576919,Gaia DR2 348020448377061376,Gaia DR3 348020482735930112,1,...,2011-01,2019-01-31,5,1,10,1,0,0,0,None
39208,39209,ups Leo b,ups Leo,b,NaN,NaN,TIC 49430557,Gaia DR2 3794167001116433152,Gaia DR3 3794167001116704000,1,...,2021-12,2022-01-10,0,0,0,0,0,0,0,None
39211,39212,xi Aql b,xi Aql,b,HD 188310,HIP 97938,TIC 375464367,Gaia DR2 4298361114750843904,Gaia DR3 4298361114753012992,1,...,2023-08,2023-09-19,1,1,1,0,0,0,0,None

In [ ]:
 #df_NASA_data[["pl_name","Exoplanet_class"]].drop_duplicates().shape[0]

In [21]:
df_NASA_data.to_excel("NASA_data_raw_with_classificaitons.xlsx",index=False)

In [ ]:
df_NASA_data_nodups = df_NASA_data.drop_duplicates(subset="pl_name",keep = "first")

In [ ]:
counts = df_NASA_data_nodups.groupby("Exoplanet_class")["pl_name"].nunique()
counts.loc["Total"] = counts.sum()
counts

In [ ]:
df_NASA_data_nodups.to_excel("NASA_data_with_classifications.xlsx",index=False)